:root {
	--color-positive: rgb(0, 167, 50);
	--color-neutral: rgb(224, 165, 0);
	--color-negative: rgba(200, 0, 0, 1);
	--color-greyed: rgb(92, 92, 92);
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

html {
	color: rgb(255, 255, 255);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(26, 26, 26);
	font-size: .8em;
	width: 100vw;
	height: 100vh;
}

th {
	color: rgb(255, 255, 255);
}
td,th {
	padding: 2px 4px 1px 4px;
}

#Wrap {
	width: 1000px;
	margin: 10px auto;
}

.Panel {
	color: rgb(221, 215, 210);
	background-color: rgb(43, 43, 43);
	border: 1px solid rgb(82, 82, 82);
	border-radius: 5px;
	padding: 0px 0px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	margin-bottom: 10px;
}